<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- ya que ya se configuro la ruta en node ahora se puede insertar el css en el html indicando antes la carpeta assets -->
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <h1>hola mundo</h1>
    <p>desde ejs</p>
</body>

</html>